@import '../../styles/variables.scss';

.add-expense {
    transition: all 0.5s ease-out;
    height: 100%;
    background: linear-gradient(top, $em-color-blue, $em-color-red);;
    color: $em-color-white;
    position: absolute;
    top: 0;
    width: 100%;

    &_header {
        text-align: center;
    }

    &_form {
        transition: all 0.5s ease-out;
        height: 100%;
        justify-content: space-between;
    }
}

.add-expense_hidden {
    opacity: 0;

    .add-expense_form {
        opacity: 0;
        display: none;
    }
}

@media only screen and (min-width: 769px) {
    .add-expense {
        width: 60%;
        height: 80%;
        top: 10%;
        left: 20%;
    }
}