@import '../../styles/variables.scss';

.add-btn {
    background: $em-color-blue;
    color:#fff;
    width: 50px;
    height:50px;
    border-radius: 50%;
    position: fixed;
    bottom: 15px;
    right:15px;
    font-weight: 100;
    font-size: 20px;
    z-index: 9999;
}

input[type="checkbox"], i {
    position: absolute;
    top: 30%;
    right: 35%;
}
  
input[type="checkbox"] {
    opacity: 0;
}

i {
    animation: rotate-button-anti-clockwise 0.2s ease-in;
    font-size: 20px;
}

input[type="checkbox"]:checked ~ .fa{
    animation: rotate-button-clockwise 0.2s ease-in;
    transform: rotate(45deg);
}

imput[type="checkbox"]:checked {
    .add-expense {
        display: block;
    }
}

.add-item {
  animation: rotate-button-anti-clockwise 0.2s ease-in;
  transform: rotate(0deg);
}

@keyframes rotate-button-clockwise{
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(45deg);
    
  }
}

@keyframes rotate-button-anti-clockwise{
  0% {
    transform: rotate(45deg)
  }
  100% {
    transform: rotate(0deg);
  }
}