//colors:

$em-color-white: #fff;
$em-color-red: #E74C3C;
$em-color-blue: #2980B9;
$em-color-grey: #d3d3d3;
$em-color-light-grey:#e9ecee;

//font-size
$em-font-size-largest: 25px;
$em-font-size-large: 20px;
$em-font-size-small: 12px;

//font-weight
$em-font-weight-heaviest: 600;
