@import "../../styles/variables.scss";

.header{
    align-items: center;
    background-color: $em-color-white;
    color: $em-color-blue;
    box-shadow: 0 15px 40px -21px $em-color-grey;
    height: 80px;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        justify-content: center;
        height: 120px;
    }
}


